body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-image:url('https://as1.ftcdn.net/v2/jpg/06/47/68/82/1000_F_647688201_jtOez4eZIXNzluHSEkNanPeHqsfdmwUc.jpg');
    display: table;
    width: 100%;
    height: 100vh;
    background-position: 30% 45%;
    background-size: cover;
}

header {
   background-color: black;;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: .8;
    color: white;
}

main {
    margin: 50px;
}

button {
    padding: 10px 20px;
    font-size: 19px;
    cursor: pointer;
    background-color: black;
    color: white;
    opacity: .8;
    width: 139px;
    height: 45px;
    border: none;
    border-radius: 10px;
}
button:hover{
    background-color: rgba(189, 189, 189, 0.5);
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .calendar-container, #timeslots-container {
        width: 100%;
    }

    .days-of-week, #days-container {
        grid-template-columns: repeat(7, 1fr);
    }
}
