body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.calendar-container {
    flex: 1;
    margin-right: 20px;
}

.month-year {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: bold;
}

.days-of-week {
    display: flex;
    justify-content: space-around;
    background-color: brown;
    color: white;
    padding: 10px 0;
    border-radius: 8px 8px 0 0;
}

#days-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.day {
    width: 13%;
    padding: 20px 0;
    text-align: center;
    border: 1px solid #ddd;
    cursor: pointer;
}

.day.today {
    background-color: #a8d5a2;
}

.day.past {
    background-color: #f2f2f2;
}

.day.past:hover {
    background-color: #f2f2f2;
}

#timeslots-container {
    flex: 1;
}

#selected-date {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: bold;
}

.timeslot {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}

.timeslot.occupied {
    background-color: #f8d7da;
    color: #721c24;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
